%p#notice= notice

%h1 Contacts (in HAML)

%table
  %thead
    %tr
      %th Name
      %th Phone
      %th{colspan: 3}

  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.name
        %td= contact.phone
        %td= link_to 'Show', contact
        %td= link_to 'Edit', edit_contact_path(contact)
        %td= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }

%br

= paginate @contacts

= link_to 'New Contact', new_contact_path
